*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    
    background-image: url(images/SushiN.jfif);
    background-size: 100% 100%; 
}
.container{
    margin: 0 auto;
    width: 90%;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.nav-logo{
    width: 40%;
}
.nav-logo img{
    border-radius: 50%;
    width: 30%;
}
.nav-list{
    width: 60%;
    padding-top: 20px;
}
.nav-ul .nav-li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav-ul .nav-li{
    display: inline-block;
    margin: 0 10px;
    padding-left: 20px;
}
.logo2{
    display: none;
}
.header-contain{
    padding-top: 30px;
    text-align: center;
}
.header-title{
    width: 60%;
    font-size: 110px;
    color: #eacd70;
    font-weight: 400;
    font-family: "Grand Hotel";
    margin: 0 35%;
}
.header-text{
width: 50%;
font-size: 30px;
color: #ffffff;
font-weight: 400;
font-family: "Montserrat";
margin: 0 42%;
}
.order-button{
    width: 40%;
    align-items: center;
border-radius: 4px;
background-color: #ffc200;
font-size: 19px;
text-transform: uppercase;
color: #333333;
font-weight: 700;
font-family: "Montserrat";
text-align: center;

}
.order{
    margin: 0 42%;
    width: 40%;
}
/* Header CSS Ends here... */
/* Section 1 - BEST SELLER... CSS Start here here... */
.best-seller{
    width: 100%;
    font-size: 75px;
color: #333333;
font-weight: 400;
font-family: cursive;
text-align: center;
}
.section-1-lorem{
    width: 80%;
    margin: auto;
}
.row{
    width: 90%;
    margin: auto;
    display: flex;
}
.col1{
    width: 30%;
    margin: 0 auto;
}
.row .col1 img{
    border-radius: 50%;
}
.img1-title{
    font-size: 32px;
    width: 45%;
    margin-left: 35px;
    color: #333333;
    font-weight: 400;
    font-family: "cursive";
    text-align: center;
}
.col2{
    width: 30%;
    margin: 0 auto;
}
.row .col2 img{
    border-radius: 50%;
}
.col3{
    width: 30%;
    margin: 0 auto;
}
.row .col3 img{
    border-radius: 50%;
}

.img1-lorem{
    width: 80%;
}
/* Section 1 - BEST SELLER... CSS ends here here... */

/* ------------------------------------------------Section 2 - ... CSS Start here here...----------------------------------- */
.section-2{
    width: 100%;
}
.img-1{
    width: 100%;
    display: flex;
    background-image: url(images/Blk-Img-Section-2-header.png);
}
.sec-2-img-1{
    width: 30%;
    /* padding-top: 80px;
    margin-top: 80px;
    margin-left: 40px;
    padding-left: 80px; */
    display: block;
    transform: translateX(50%);
    margin-top: 90px;
    padding-top: 80px;
    background-size: 100% 100%;
}
.img-1 .sec-2-img-1 img{
   
    border-radius: 50%;
    width: 70%;
}
.oriental-taste{
    font-size: 60px;
    color: #ffc200;
    font-weight: 400;
    font-family: cursive;
    padding-top: 100px;
    margin-top: 100px;
    margin-right: 70px;
    transform: translateX(30%);
    transform: translate(40%);
    width: 50%;
}
.oriental-lorem{
    width: 90%;
height: 210px;
font-size: 25px;
color: #ffffff;
font-weight: 400;
font-family: "Montserrat";
 }
 .oriental-button{
    width: 40%;
border-radius: 4px;
background-color: #ffc200;
font-size: 22px;
text-transform: uppercase;
color: #333333;
font-weight: 700;
font-family: "Montserrat";
text-align: center;
margin-top: 30px;
margin-left: 40px;
 }
 .sec-2-background{
    width: 100%;
  height: 500px;                /* .............. Applied height here only.............  */
 background-size: 100% 100% ; 
background-color: #303030;
 }
 .statistics{
    font-size: 100px;
color: #ffc200;
font-weight: 400;
font-family: "cursive";
text-align: center;
 }
 .statistics-lorem{
    width: 80%;
font-size: 25px;
color: #ffffff;
font-weight: 400;
font-family: "Montserrat";
text-align: center;
margin: 0 auto;
 }
 .row-statistics{
    display: flex;
    width: 90%;
    margin: 30px auto;
    justify-content: space-between;
 }
 .col-stat{
     border: 5px solid rgb(239, 238, 245);
    width: 10%;
    height: 100px;
    border-radius: 50%;
    border-color: white;
 }
 .stat-number{
    font-size: 38px;
color: #ffc200;
font-weight: 700;
font-family: "Montserrat";
text-align: center;
margin: 0 auto;
 }
 .stat-outlet{
    width: 30%;
font-size: 18px;
text-transform: uppercase;
color: #ffffff;
font-weight: 700;
font-family: "Montserrat";
text-align: center;
padding-left: 10px;
 }
 .chef{
    width: 30%;
font-size: 18px;
text-transform: uppercase;
color: #ffffff;
font-weight: 700;
font-family: "Montserrat";
text-align: center;
padding-left: 20px;
 }
 
.img-2{
    width: 100%;
    margin-top: -130px;
     position: relative;
 
     /* height: 700px; */
    background-image: url(images/Blk-Img-Section-2-footer.png);
    background-size: 100% 100%;
}
.sec-2-img-2{
    width: 30%;
    /* display: block; */
    bottom: 0;
    right: 0;
     position: absolute;
    /* padding-top: 80px;
    margin-top: 80px;
    margin-left: 40px;
    padding-left: 80px; */
   
    /* transform: translateX(50%); */
}
.img-2 .sec-2-img-2 img{
    border-radius: 50%;
    width: 70%;
}
.chicken-lorem{
    width: 90%;
    margin-right: auto;
height: 210px;
font-size: 25px;
color: #ffffff;
font-weight: 400;
font-family: "Montserrat";
}
.chicken-button{
    width: 38%;
    border-radius: 4px;
    background-color: #ffc200;
    font-size: 22px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 6px;
    margin-left: 40px;
}

 .chicken-grill{
    font-size: 60px;
    color: #ffc200;
    font-weight: 400;
    font-family: cursive;
    padding-top: 100px;
    margin-top: 100px;
    margin-right: 70px;
    transform: translateX(30%);
    transform: translate(40%);
    width: 50%;
 }
/* --------------------------------------Section 2 - ... CSS Ends here here...----------------------------- */

/* --------------------------------------Section 3 - ... CSS Start here here...----------------------------- */
.section-3-img{
    background-image: url(images/section-3-Background-image.png);
    background-size: 100% 100%;
}
.section-3-back-color{
    width: 100%;
    padding: 40px;
     height: 800px; 
    margin-top: 20px;
     background-color: #ffc200; 
    opacity: 0.5;
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-3-lorem{
    width: 50%;
font-size: 40px;
color:rgb(14, 14, 14);
font-weight: 400;
font-family: "Montserrat";
text-align: center;
display: inline;
margin: auto;
margin: 5px 0;
}
.sec-3-lenora-field{
    font-size: 74px;
    margin-top: 30px;
    display: inline;
color: #000000;
font-weight: 400;
font-family: "Grand Hotel";
text-align: center;
font-family: cursive;
margin: 5px 0;
}
/* --------------------------------------Section 3 - ... CSS Ends here here...----------------------------- */
/* --------------------------------------Section 4 - ... CSS Starts here here...----------------------------- */
.section-4{
    width: 100%;
height: 600px;
background-color: #f4f4f4;
position: relative;

}
.subscribe{
    font-size: 100px;
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;
color: #333333;
font-weight: 400;
font-family: "cursive";
text-align: center;

}
.subscribe-lorem{
    position: absolute;
    width: 60%;
    top: 48%;
    left: 20%;
    align-items: center;
    font-size: 23px;
color: #333333;
font-weight: 400;
font-family: "cursive";
text-align: center;
}
.subscribe-mail{
    position: absolute;
    width: 60%;
    top: 75%;
    left: 20%;
    text-align: center;
}
.email-sub-btn{
    width: 150px;
height: 23px;
border-radius: 4px;
background-color: #ffc200;

font-size: 15px;
text-transform: uppercase;
color: #333333;
font-weight: 700;
font-family: "Montserrat";
text-align: center;
}
/* --------------------------------------Section 4 - ... CSS Ends here here...----------------------------- */
/* --------------------------------------Footer  ... CSS Start here here...----------------------------- */
.footer1{
    width: 100%;
    height: 450px;
    display: flex;
    background-color: #303030;
}
.footer-title{
    width: 40%;
    font-size: 25px;
text-transform: uppercase;
color: #ffffff;
font-weight: 700;
font-family: "Montserrat";
margin: 10% 5%;


}
.footer-title-lorem{
    width: 90%;
    margin-top: 10px;
    /* height: 100px; */
font-size: 14px;
color: #ffffff;
font-family: "Montserrat";
}
.footer-font-awesome{
    margin-top: 20px;
    text-decoration: none;
    color: white;
}

.footer-about{
    width: 20%;
    margin: 10% auto;
    font-size: 21px;
text-transform: uppercase;
color: #ffffff;
font-weight: 700;
font-family: "Montserrat";
text-decoration-line: underline;
}
.footer-service{
    width: 20%;
    margin: 10% auto;
    font-size: 21px;
text-transform: uppercase;
color: #ffffff;
font-weight: 700;
font-family: "Montserrat";
text-decoration-line: underline;
}
.footer-other{
    width: 20%;
    margin: 10% auto;
    font-size: 21px;
text-transform: uppercase;
color: #ffffff;
font-weight: 700;
font-family: "Montserrat";
text-decoration-line: underline;
}

.footer-ul .footer-li a{
    text-decoration: none;
    font-size: 12px;
    line-height: 42px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}
.footer-ul .footer-li{
    display: inline-block;
    margin: 0 auto;
    justify-content: space-between;
}

/* --------------------------------------Footer - ... CSS Ends.. here here...----------------------------- */